* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    /* height: 100%; */
    background-color: #e4f6ff;
}

/* header */
header {
    background-color: #0067cd;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
}

.cv img {
    width: 100%;
    height: 10vh;
}

.thanhdieuhuong {
    list-style-type: none;
    display: flex;
    width: 100%;
    gap: 50px;
    font-size: 25px;
    cursor: pointer;
}

.thanhdieuhuong .li {
    font-size: 45px;
}

header .center .thanhdieuhuong .li .a {
    width: 30px;
    height: 30px;
    background-color: rgb(17, 16, 15);
}

.center {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
}

.cv {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
}

/* main */
.main {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin-top: 60px;
}

.home {
    font-size: 27px;
    font-weight: 300;
    color: #e4f6ff;
}

.home:hover {
    /* color: #E4F6FF; */
    text-shadow: 0px 1px 10px #b6ddff;
}

* {
    transition: 0.4s;
}

.mySlides {
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.container {
    width: 45vw;
    /* height: 69vh; */
    overflow: hidden;
}

.displaycontainer {
    position: relative;
}

.button {
    font-size: 48px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
    background-color: #00000000;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    color: #00000066;
}

.left {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0, -50%);
}

.right {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translate(0, -50%);
}

.btn-5 {
    text-shadow: none;
}

@media screen and (max-width: 950px) {
    .container {
        width: 89vw;
        height: 55vw;
        margin: 20px calc((100% - 89vw) / 2);
        border-radius: 10px;
    }

    .button {
        font-size: 36px;
    }
}

.about {
    padding-top: 130px;
    text-align: center;
    font-size: 45px;
    color: #0067cd;
    font-weight: 500;
}

.name {
    text-align: center;
    width: 100%;
    line-height: 35px;
}

.name h {
    font-size: 30px;
    cursor: pointer;
}

.infoooo {
    width: 50%;
    padding-left: 25%;
    text-align: center;
}

.schools {
    width: 85%;
    /* height: 70vh; */
    /* line-height: 35px; */
    padding-left: 7.5%;
}

.schools h {
    font-size: 30px;
    color: #0067cd;
    font-weight: 600;
}

.schools-list {
    display: flex;
    justify-content: space-between;
    gap: 23px;
    margin-top: 20px;
}

.schools-list .c1 {
    width: 25%;
    height: 350px;
}

.c1 img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
}

.c1 img:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.c1 {
    text-align: center;
    line-height: 40px;
}

.c1 p {
    font-size: 20px;
}

.btn {
    color: black;
    cursor: pointer;
    display: block;
    font-size: 25px;
    font-weight: 300;
    line-height: 45px;
    max-width: 180px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.btn1 {
    color: black;
    cursor: pointer;
    display: block;
    font-size: 25px;
    font-weight: 300;
    line-height: 45px;
    max-width: 180px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.btn-5 {
    text-shadow: none;
}

.btn-5:hover {
    color: orange;
}

/* ----------------------- */
.code {
    display: flex;
    padding-left: 7.5%;
    /* width: 100%; */
    height: 30vh;
    color: #0067cd;
}

.code-web {
    width: 50%;
}

.code-web-header {
    display: inline-block;
    position: relative;
    padding: 0 4px;
}

.code-web-header h3 {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

.code-web-css {
    width: 60%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.html {
    background-color: #0d6efd;
    height: 4px;
    border-radius: 2px;
    width: 95%;
}

.C {
    background-color: #0d6efd;
    height: 4px;
    border-radius: 2px;
    width: 80%;
}

.javas {
    background-color: #0d6efd;
    height: 4px;
    border-radius: 2px;
    width: 60%;
}

.code-web-h {
    margin: 0;
    font-size: 15px;
    color: #212529;
    margin-bottom: 8px;
    margin-top: 20px;
}

.hobby {
    width: 85%;
    /* height: 55vh; */
    line-height: 40px;
    padding-left: 7.5%;
    padding-top: 19px;
}

.hobby h {
    font-size: 30px;
    color: #0067cd;
    font-weight: 600;
}

.footer-m {
    width: 100%;
    height: 100px;
    background-color: #0f0f0f;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 30px; */
}

.footer-m p {
    color: #e4f6ff;
}

.about {
    list-style-type: none;
    margin-left: 10px;
    line-height: 0px;
    transition: 0.5s;
    position: relative;
}

.about::after {
    content: "";
    position: absolute;
    bottom: -24px;
    height: 1.25px;
    width: 12.3%;
    left: 44%;
    background-color: #0067cd;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.about:hover::after {
    transform: scaleX(1);
}

/* @media screen and (max-width: 550px) {
  .center {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 12px;
  }

  .container {
    width: 89vw;
    height: 55vw;
    margin: 20px calc((100% - 90vw) / 2);
    border-radius: 10px;
  }

  .right {
    width: 100%;
  }

  .thanhdieuhuong {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #333;
    display: none;
  }

  .thanhdieuhuong li {
    margin: 0;
    text-align: center;
  }

  .container-center {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .thanhdieuhuong {
    display: none;
  } */

/* .bd6 {
      background-color: rgba(128, 128, 128, 1);
      display: flex;
      flex-direction: column;
      height: 100vh;
      left: 0;
      padding: 27px 32px 0 30px;
      top: 0;
      width: 100vw;
      z-index: 2000;
      position: fixed;
      visibility: hidden;
  } */

/* .bd61 {
      align-items: flex-start;
      align-self: flex-start;
      color: black;
      display: flex;
      flex-direction: column;
      font-size: 32px;
      font-weight: 600;
      line-height: 62%;
      margin-top: 42px;
      position: relative;
      text-decoration: none;
  } */

/* .bd61> :not(:last-child) {
    margin-bottom: 40px;
  }

  .bd61 a {
    color: inherit;
    text-decoration: none;
  }

  .hop-menu {
    display: block !important;
  }
} */

/* .fa {
  margin-left: 100px;
  margin-top: -8px;

} */
/* 
.bd6 { */
/* background-color: #0d6efd; */
/* display: flex;
  flex-direction: column;
  height: 30vh;
  left: 58vh;
  padding: 27px 32px 0 0;
  top: 0;
  width: 31vw;
  z-index: 2000;
  position: fixed;
  visibility: hidden;
}

.portfolio {
  border-bottom: 1px solid #0f0f0f;
  height: 5vh;
  margin-top: 12px;
}

.portfolio:hover {
  color: #eaf1f4;
}

.bd61 {
  align-items: flex-start;
  align-self: flex-start;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 600; */
/* line-height: 62%; */
/* margin-top: 42px; */
/* position: relative;
  text-decoration: none;
  margin-left: 6vh;
  margin-top: 1vh;
}

.bd61> :not(:last-child) {
  margin-bottom: 1px;
}

.bd61 a {
  color: inherit;
  text-decoration: none;
}

.hop-menu {
  display: none;
} */

.main-center {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 95px;
}

.main-tp {
    width: 280px;
    height: 45vh;
    border: 1px solid;
    text-align: center;
    border-radius: 10px;
    background-color: #f5f5dc;
}

.main-tp img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-h {
    font-size: 25px;
    color: #0f0f0f!important;
}

.main-tp p {
    font-size: 20px;
}

/* ------------------------ */
.test {
    width: 85%;
    /* height: 55vh; */
    padding-top: 19px;
    padding-left: 7.5%;
}

.test h {
    font-size: 30px;
    color: #0067cd;
    font-weight: 600;
}

.test-line {
    display: flex;
    /* justify-content: space-between; */
    gap: 23px;
    margin-top: 20px;
    line-height: 0;
}

.test-line .c12 {
    width: 25%;
    height: 350px;
}

.c12 img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.c12 img:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.c12 {
    text-align: center;
    line-height: 25px;
}

.c12 p {
    font-size: 20px;
}

.content {
    width: 100%;
}

@media screen and (max-width: 640px) {
    .fa{
        margin-left: 176px;
    margin-top: -2px;
    }
    .container-center {
        margin-top: -101px;
    }

    header {
        display: flex;
    }

    .center {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-top: 12px;
    }

    .name {
        width: 50%;
    }

    .cv img {
        margin-top: -10px;
    }

    .container {
        width: 89vw;
        height: 33vh;
        margin: 20px calc((100% - 89vw) / 2);
        border-radius: 10px;
        margin-bottom: 85%;
    }

    .profile {
        margin-bottom: 0;
        /* margin-top: 60%; */
    }

    .mySlides {
        width: 50%;
        height: 42vh;
    }

    .right {
        position: absolute;
        right: 0;
    }

    .thanhdieuhuong {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #333;
        display: none;
    }

    .name p {
        width: 224px;
        margin-left: -41px;
    }

    .thanhdieuhuong li {
        margin: 0;
        text-align: center;
    }

    .container-center {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .thanhdieuhuong {
        display: none;
    }

    .bd61> :not(:last-child) {
        margin-bottom: 40px;
    }

    .bd61 a {
        color: inherit;
        text-decoration: none;
        margin-top: 12px;
    }

    .hop-menu {
        display: block !important;
    }

    .left {
        width: 100%;
        /* top: 50%; */
    }

    .right {
        height: 300px;
    }

    .displaycontainer {
        margin-top: 2px;
        margin-left: -36px;
        height: 362px;
        width: 50%;
    }

    .main {
        /* margin-left: 41px; */

        width: 100%;
        display: flex;
        height: 104vh;
    }

    .left {
        position: absolute;
        top: 164px;
        left: -47%;
    }

    .code-web-css {
        width: 100%;
    }

    .container-main {
        height: 85vh;
    }

    .end {
        margin-top: 103px;
    }

    footer {
        margin-top: 480%;
    }
}

.fa {
    margin-left: 234px;
    margin-top: -3px;
}

.bd6 {
    background-color: #0d6efd;
    display: flex;
    flex-direction: column;
    height: 30vh;
    left: 58vh;
    padding: 27px 32px 0 0;
    top: 0;
    width: 31vw;
    z-index: 2000;
    position: fixed;
    visibility: hidden;
}

.portfolio {
    border-bottom: 1px solid #0f0f0f;
    height: 5vh;
    margin-top: 12px;
}

.portfolio:hover {
    color: #eaf1f4;
}

.bd61 {
    align-items: flex-start;
    align-self: flex-start;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 600;
    /* line-height: 62%; */
    /* margin-top: 42px; */
    position: relative;
    text-decoration: none;
    margin-left: 6vh;
    margin-top: 1vh;
}

.bd61> :not(:last-child) {
    margin-bottom: 1px;
}

.bd61 a {
    color: inherit;
    text-decoration: none;
}

.hop-menu {
    display: none;
}

@media screen and (max-width: 412px) {
    .code-web {
        margin-bottom: 30px;
    }

    .name {
        width: 100%;
    }

    .main {
        height: 89vh;
    }

    .name p {
        margin-left: -9px;
    }

    .displaycontainer {
        margin-left: 0;
    }

    footer {
        margin-top: 15px;
    }

    .fa {
        margin-left: 180px;
        margin-top: -2px;
    }
    .center {
        display: flex;
            align-items: center;
            margin-right: 44px;
            margin-top: 12px;
      }
      header{
        width: 80%;
      }
}