* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: black; */
  width: 100%;
  height: 1100px;
  background-color: #E4F6FF;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0067CD;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
}

.cv img {
  width: 100%;
  height: 10vh;
}

.thanhdieuhuong {
  list-style-type: none;
  display: flex;
  width: 100%;
  gap: 50px;
  font-size: 25px;
  cursor: pointer;
}

.thanhdieuhuong .li {
  font-size: 45px;
}

header .center .thanhdieuhuong .li .a {
  width: 30px;
  height: 30px;
  background-color: rgb(17, 16, 15);
}

.center {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 20px;
}

.cv {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 20px;
}

.btn {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  max-width: 180px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.btn1 {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  max-width: 180px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.btn-5 {
  text-shadow: none;
}

.thanhdieuhuong li button {
  border: 1px solid;
  border: none;
  border-radius: 20px;
}

.thanhdieuhuong li button:hover {
  transform: scale(1.05);
}

/* ----------------------------------------------- */
.pro {
  /* background-color: yellowgreen; */
  width: 100%;
  padding-top: 125px;
}

.main {
  text-align: center;
  width: 100%;
}

.main h {
  color:#0067CD;
  font-size: 45px;
  font-weight: 500;
}
.main{
  list-style-type: none;
  /* margin-left: 10px; */
  line-height: 35px;
  transition: 0.5s;
  position: relative;
}
.main::after{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 1.25px;
  width: 12.3%;
  left: 44%;
  background-color: #0067CD;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}
.main:hover::after{
  transform: scaleX(1);
} */
.main p {
  color: white;
  font-size: 20px;
}
/* ---------------------------------------------- */
.containey {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  /* padding: 20px;  */
  /* margin-top: 100px; */
  padding-top: 4%;
  z-index: 1;
  padding-right: 18%;
}

@media (max-width: 500px) {
  .containey {
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    float: none;
  }
}

.item {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-radius: 10px;
  border: 1px solid;
}

.item img {
  width: 100%;
  height: 205px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;

}

.item:hover {
  transform: scale(1.045);
}

.item:hover .overlay {
  opacity: 0.8;
}

.item .overlay p {
  margin: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

a {
  color: black;
  opacity: 1;
  text-decoration: none;
}

a:hover {
  color: rgb(226, 255, 5);
}

.item2,
.overlay {
  width: 100%;
}

.item2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
}

.item2 {
  opacity: 0.4;
  transform: scale(1.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  opacity: 0;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 17px;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}
/* ---------- */
.pro-container{
  padding-left: 9%;
}
.pro-main h {
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pro-container-img{
  width: 300px;
  height: 300px;
  background-color: aqua;
}
.pro-container-img img{
  width: 500px;
  height: 300px;
  overflow: hidden; 
}
.pro-center{
   /* padding-left: 12.4%; */
  padding-top: 4%; 
  line-height: 35px;
}
.pro-center h{
  font-size: 30px;
}
.pro-center p{
  font-size: 20px;
}
.pro-center h:hover{
  text-decoration: underline;
}
/* ----------------------------------------------- */
/* .containey-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 4%;
  z-index: 1;
  padding-right: 15%;
}

@media (max-width: 500px) {
  .containey-main {
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    float: none;
  }
}

.item-main {
  position: relative;
  overflow: hidden;
}

.item-main img {
  width: 100%;
  height: 205px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;

}

.item-main:hover {
  transform: scale(1.045);
}

.item-main:hover .overlayer {
  opacity: 0.8;
}

.item-main .overlayer p {
  margin: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

a {
  color: black;
  opacity: 1;
  text-decoration: none;
}

a:hover {
  color: rgb(226, 255, 5);
}

.item-main-img,
.overlayer {
  width: 100%;
}

.item-main-img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
  background-color: black;
}

.item-main-img:hover {
  opacity: 0.4;
  transform: scale(1.2);
}

.overlayer {
  position: absolute;
  top: 40%;
  left: 0;
  color: black;
  opacity: 0;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.overlayer:hover {
  opacity: 1;
  cursor: pointer;
} */
.home{
  font-size: 27px;
  font-weight: 200;
}
.home:hover{
  color: #151315;
  text-shadow: 0px 1px 10px #B6DDFF;
}
/* ---------------------- */
.containey-main{
  display: flex;
  gap: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.containey-main-add{
  width: 400px;
  height: 300px;
}
.item-main, .item-main-add, .item-main-img, .overlayer{
  width: 400px;
  height: 300px;
}
.item-main{
  position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.item-main .item-main-add{
  top: 0;
    left: 0;
    position: absolute;
    transition: 0.4s;
}
.item-main:hover .item-main-add{
  transform: scale(1.2);
}
.item-main .item-main-img{
  opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.4s;
}
.item-main:hover .item-main-img{
  opacity: 0.4;
  transform: scale(1.2);
}
.item-main .overlayer{
  position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 30px;
}
.item-main:hover .overlayer{
  opacity: 1;
    cursor: pointer;
}
@media (max-width: 500px) {
  .containey-main {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    float: none;
  }
}