*{
    margin: 5px;
    padding: 5px;
    
}
.hop11{
    width: 100%;
    height: 15px;
    margin-top: -22px;
    position: fixed;
    background-color: white;
    z-index: 1;
}
body{
    font-family:"Function Pro",sans-serif;
    font-style: normal;
    font-weight: normal;
}
.hop1{
    background-color: gray;
    height: 1500px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.hop1class .imggg{
    position: fixed; 
    width: 50px;
    height: 50px;
    margin-left: 24.5px;
    z-index: 10;
}
.hop1class .new{
    position: fixed;
    color: black;
    margin-left: 1207px;
    font-size: 30px;
    z-index: 10;
}

/* -------------------------------------------------------- */
.container{
    width: 100%;
    height: 600px;
    display: flex;
    /* line-height: 1.33333333; */
    margin: 0;
    padding: 0; 
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* background-color: aqua; */
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.right{
    display: flex;
    flex-direction: column;
    width: 390px;
    
}
.container-main-block-hinh1{
    position: relative;
    margin-bottom: -15px;
}
.container-main-block-hinh1 .lop2{
    width: 330px;
    height: 209.99px;
    background-color: #fff;
    position: absolute;
    top: 36.5px;
    left: 33.5px;
    transition: 0.4s;
    opacity: 0;
}
.container-main-block-hinh1:hover .lop2{
    opacity: 1;

}
.container-main-block-hinh1 .lop3{
    position: absolute;
    top: 40px;
    left: 42px;
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
}
.container-main-block-hinh1:hover .lop3{
    opacity: 1;
}
.word{
    margin-top: 14px;
}
.word h{
    font-size: 22px;
    font-family:  "Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    cursor: pointer;
}


.lop3 .word p{
    position: relative;
    color: #6d6d6d;
}
.lop3 .word p::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 0;
    left: 0;
    background-color: #000000;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    /* transform: scaleX(0); */
}
.lop3 .word p:hover::after{
    /* transform: scaleX(1); */
    width: 100%;
}
/* ------------------------------------- */
.container-main-block-hinh4{
    position: relative;
}
.container-main-block-hinh4 .lop4{
    width: 330px;
    height: 209.99px;
    background-color: #fff;
    position: absolute;
    top: 36.5px;
    left: 33.5px;
    transition: 0.4s;
    opacity: 0;
}
.container-main-block-hinh4:hover .lop4{
    opacity: 1;
}
.container-main-block-hinh4 .lop5{
    position: absolute;
    top: 40px;
    left: 42px;
    opacity: 0;
    transition: 0.4s;
}
.container-main-block-hinh4:hover .lop5{
    opacity: 1;
    cursor: pointer;
}
.lop5 .word p{
    position: relative;
    color: #6d6d6d;
}
.lop5 .word p::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 0;
    left: 0;
    background-color: #000000;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    /* transform: scaleX(0); */
}
.lop5 .word p:hover::after{
    /* transform: scaleX(1); */
    width: 40px;
}
/* ------------------------------------------- */

.center{
    display: flex;
    flex-direction: column;
    width: 390px;
}
.container-main-block-hinh2{
    position: relative;
    margin-bottom: -15px;
}
.container-main-block-hinh2 .lop6{
    width: 330px;
    height: 330px;
    background-color: #fff;
    position: absolute;
    top: 37px;
    left: 36px;
    transition: 0.4s;
    opacity: 0;
}
.container-main-block-hinh2:hover .lop6{
    opacity: 1;
}
.container-main-block-hinh2 .lop7{
    position: absolute;
    top: 40px;
    left: 42px;
    opacity: 0;
    transition: 0.4s;
}
.container-main-block-hinh2:hover .lop7{
    opacity: 1;
    cursor: pointer;
}
.container-main-block-hinh2 .lop7 .word {
    margin-top: 148px;
}
.lop7 .word{
    width: 235.58px;
    height: 131.2px;
}
.lop7 .word p{
    position: relative;
    color: #6d6d6d;
}
.lop7 .word p::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 0;
    left: 0;
    background-color: #000000;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    /* transform: scaleX(0); */
}
.lop7 .word p:hover::after{
    /* transform: scaleX(1); */
    width: 100px;
}
/* -------------------------------------------- */

.container-main-block-hinh5{
    position: relative;
}
.container-main-block-hinh5 .lop8{
    width: 330px;
    height: 188.4px;
    background-color: #fff;
    position: absolute;
    top: 34.5px;
    left: 34.5px;
    transition: 0.4s;
    opacity: 0;
}
.container-main-block-hinh5:hover .lop8{
    opacity: 1;
}
.container-main-block-hinh5 .lop9{
    position: absolute;
    top: 40px;
    left: 42px;
    opacity: 0;
    transition: 0.4s;
}
.container-main-block-hinh5:hover .lop9{
    opacity: 1;
    cursor: pointer;
}
.container-main-block-hinh5 .lop9 .word{
    margin-top: 11px;
}
.lop9 .word p{
    position: relative;
    color: #6d6d6d;
}
.lop9 .word p::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 0;
    left: 0;
    background-color: #000000;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    /* transform: scaleX(0); */
}
.lop9 .word p:hover::after{
    /* transform: scaleX(1); */
    width: 81px;
}
/* ------------------------------------------- */


.left{
    display: flex;
    flex-direction: column;
    width: 390px;
}

.container-main-block-hinh3{
    position: relative;
    margin-bottom: -15px;
}
.container-main-block-hinh3 .lop10{
    width: 330px;
    height: 208.8px;
    background-color: #fff;
    position: absolute;
    top: 37.3px;
    left: 35.5px;
    transition: 0.4s;
    opacity: 0;
}
.container-main-block-hinh3:hover .lop10{
    opacity: 1;

}
.container-main-block-hinh3 .lop11{
    position: absolute;
    top: 40px;
    left: 42px;
    opacity: 0;
    transition: 0.4s;
}
.container-main-block-hinh3:hover .lop11{
    opacity: 1;
    cursor: pointer;
}
.container-main-block-hinh3 .lop11 .word{
    margin-top: 11px;
}
.lop11 .word p{
    position: relative;
    color: #6d6d6d;
}
.lop11 .word p::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 0;
    left: 0;
    background-color: #000000;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
.lop11 .word p:hover::after{
    width: 81px;
}
/* ------------------------------------- */
.container-main-block-hinh6{
    position: relative;
}
.container-main-block-hinh6 .lop12{
    width: 330px;
    height: 209.99px;
    background-color: #fff;
    position: absolute;
    top: 36.5px;
    left: 33.5px;
    transition: 0.4s;
    opacity: 0;
}
.container-main-block-hinh6:hover .lop12{
    opacity: 1;
}
.container-main-block-hinh6 .lop13{
    position: absolute;
    top: 40px;
    left: 42px;
    opacity: 0;
    transition: 0.4s;
}
.container-main-block-hinh6:hover .lop13{
    opacity: 1;
    cursor: pointer;
}
.lop13 .word p{
    position: relative;
    color: #6d6d6d;
}
.lop13 .word p::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 0;
    left: 0;
    background-color: #000000;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
.lop13 .word p:hover::after{
    width: 40px;
}
/* -------------------------------------------- */

